nodered_backend/flows/auth.json
[
  {
    "id": "f9_auth_tab",
    "type": "tab",
    "label": "Flow9: JWT认证",
    "disabled": false,
    "info": "JWT + Refresh Token 认证体系\n- POST /api/v1/auth/login   用户登录, 签发 access_token(1h) + refresh_token(7d)\n- POST /api/v1/auth/refresh 刷新 access_token\n- POST /api/v1/auth/verify  验证 access_token 有效性\n算法: HMAC-SHA256, 密钥由 JWT_SECRET 环境变量配置\n登录/刷新返回 OAuth2 扁平结构, verify 返回 {code,data,message}"
  },
  {
    "id": "f9_auth_login_in",
    "type": "http in",
    "z": "f9_auth_tab",
    "name": "登录接口",
    "url": "/api/v1/auth/login",
    "method": "post",
    "swaggerDoc": "",
    "wires": [
      [
        "f9_auth_login_proc"
      ]
    ]
  },
  {
    "id": "f9_auth_login_proc",
    "type": "function",
    "z": "f9_auth_tab",
    "name": "登录处理(签发令牌)",
    "func": "// ===== JWT 登录处理 (安全加固版) =====\nvar crypto = global.get('crypto');\nvar fs = global.get('fs');\n\nvar JWT_SECRET = global.get('JWT_SECRET');\nif (!JWT_SECRET) {\n    msg.payload = JSON.stringify({ code: 1, error: '服务器密钥未配置' });\n    msg.statusCode = 500;\n    return msg;\n}\n\nvar ACCESS_TOKEN_TTL = 3600;\nvar REFRESH_TOKEN_TTL = 7 * 24 * 3600;\nvar REFRESH_FILE = '/data/db/refresh_tokens.json';\n\nfunction base64url(str) {\n    return Buffer.from(str).toString('base64')\n        .replace(/\\+/g, '-').replace(/\\//g, '_').replace(/=+$/, '');\n}\nfunction base64urlBuf(buf) {\n    return buf.toString('base64')\n        .replace(/\\+/g, '-').replace(/\\//g, '_').replace(/=+$/, '');\n}\n\nfunction signAccessToken(user_id, username) {\n    var header = { alg: 'HS256', typ: 'JWT' };\n    var now = Math.floor(Date.now() / 1000);\n    var payload = { user_id: user_id, username: username, iat: now, exp: now + ACCESS_TOKEN_TTL };\n    var headerB64 = base64url(JSON.stringify(header));\n    var payloadB64 = base64url(JSON.stringify(payload));\n    var data = headerB64 + '.' + payloadB64;\n    var sig = crypto.createHmac('sha256', JWT_SECRET).update(data).digest();\n    return data + '.' + base64urlBuf(sig);\n}\n\nfunction generateRefreshToken() {\n    return crypto.randomBytes(64).toString('hex');\n}\n\n// scrypt 密码验证 (timing-safe)\nfunction verifyPassword(password, storedHash) {\n    var parts = storedHash.split(':');\n    if (parts.length !== 2) return false;\n    var salt = Buffer.from(parts[0], 'hex');\n    var hash = Buffer.from(parts[1], 'hex');\n    var computedHash = crypto.scryptSync(password, salt, 64);\n    if (hash.length !== computedHash.length) return false;\n    return crypto.timingSafeEqual(hash, computedHash);\n}\n\n// 用户库 (密码使用 scrypt 哈希存储, 非明文)\nvar users = [\n    { user_id: 1, username: 'admin', password_hash: '***REMOVED***:***REMOVED***' }\n];\n\nvar body = msg.payload || {};\nvar username = body.username;\nvar password = body.password;\n\nif (!username || !password) {\n    msg.payload = JSON.stringify({ code: 1, error: '用户名和密码不能为空' });\n    msg.statusCode = 400;\n    return msg;\n}\n\n// 查找用户并验证密码 (scrypt + timingSafeEqual, 防时序攻击)\nvar user = null;\nfor (var i = 0; i < users.length; i++) {\n    if (users[i].username === username) {\n        if (verifyPassword(password, users[i].password_hash)) {\n            user = users[i];\n        }\n        break;\n    }\n}\n\nif (!user) {\n    msg.payload = JSON.stringify({ code: 1, error: '用户名或密码错误' });\n    msg.statusCode = 401;\n    return msg;\n}\n\nvar accessToken = signAccessToken(user.user_id, user.username);\nvar refreshToken = generateRefreshToken();\n\n// 持久化 Refresh Token 到文件系统 (容器重启后不丢失)\nvar refreshStore = {};\ntry {\n    refreshStore = JSON.parse(fs.readFileSync(REFRESH_FILE, 'utf8') || '{}');\n} catch (e) { /* 文件不存在, 使用空存储 */ }\n\nvar now = Math.floor(Date.now() / 1000);\nrefreshStore[refreshToken] = {\n    user_id: user.user_id,\n    username: user.username,\n    created_at: now,\n    expires_at: now + REFRESH_TOKEN_TTL\n};\n\ntry {\n    fs.writeFileSync(REFRESH_FILE, JSON.stringify(refreshStore));\n} catch (e) {\n    global.set('refresh_tokens', refreshStore);\n}\n\nmsg.payload = JSON.stringify({\n    access_token: accessToken,\n    refresh_token: refreshToken,\n    token_type: 'Bearer',\n    expires_in: ACCESS_TOKEN_TTL\n});\nmsg.statusCode = 200;\nreturn msg;",
    "outputs": 1,
    "wires": [
      [
        "f9_auth_login_out"
      ]
    ]
  },
  {
    "id": "f9_auth_login_out",
    "type": "http response",
    "z": "f9_auth_tab",
    "name": "登录响应",
    "statusCode": "",
    "headers": {
      "Content-Type": "application/json"
    },
    "wires": []
  },
  {
    "id": "f9_auth_refresh_in",
    "type": "http in",
    "z": "f9_auth_tab",
    "name": "刷新接口",
    "url": "/api/v1/auth/refresh",
    "method": "post",
    "swaggerDoc": "",
    "wires": [
      [
        "f9_auth_refresh_proc"
      ]
    ]
  },
  {
    "id": "f9_auth_refresh_proc",
    "type": "function",
    "z": "f9_auth_tab",
    "name": "刷新处理(重签Access)",
    "func": "// ===== JWT 刷新处理 (持久化版) =====\nvar crypto = global.get('crypto');\nvar fs = global.get('fs');\n\nvar JWT_SECRET = global.get('JWT_SECRET');\nif (!JWT_SECRET) {\n    msg.payload = JSON.stringify({ code: 1, error: '服务器密钥未配置' });\n    msg.statusCode = 500;\n    return msg;\n}\n\nvar ACCESS_TOKEN_TTL = 3600;\nvar REFRESH_FILE = '/data/db/refresh_tokens.json';\n\nfunction base64url(str) {\n    return Buffer.from(str).toString('base64')\n        .replace(/\\+/g, '-').replace(/\\//g, '_').replace(/=+$/, '');\n}\nfunction base64urlBuf(buf) {\n    return buf.toString('base64')\n        .replace(/\\+/g, '-').replace(/\\//g, '_').replace(/=+$/, '');\n}\n\nfunction signAccessToken(user_id, username) {\n    var header = { alg: 'HS256', typ: 'JWT' };\n    var now = Math.floor(Date.now() / 1000);\n    var payload = { user_id: user_id, username: username, iat: now, exp: now + ACCESS_TOKEN_TTL };\n    var headerB64 = base64url(JSON.stringify(header));\n    var payloadB64 = base64url(JSON.stringify(payload));\n    var data = headerB64 + '.' + payloadB64;\n    var sig = crypto.createHmac('sha256', JWT_SECRET).update(data).digest();\n    return data + '.' + base64urlBuf(sig);\n}\n\nvar authHeader = msg.req.headers['authorization'] || '';\nvar token = '';\nif (authHeader.indexOf('Bearer ') === 0) {\n    token = authHeader.substring(7);\n}\n\nif (!token) {\n    msg.payload = JSON.stringify({ code: 1, error: '缺少 Refresh Token' });\n    msg.statusCode = 401;\n    return msg;\n}\n\n// 从文件读取 Refresh Token 存储 (持久化)\nvar refreshStore = {};\ntry {\n    refreshStore = JSON.parse(fs.readFileSync(REFRESH_FILE, 'utf8') || '{}');\n} catch (e) {\n    refreshStore = global.get('refresh_tokens') || {};\n}\n\nvar tokenData = refreshStore[token];\n\nif (!tokenData) {\n    msg.payload = JSON.stringify({ code: 1, error: '无效的 Refresh Token' });\n    msg.statusCode = 401;\n    return msg;\n}\n\nvar now = Math.floor(Date.now() / 1000);\nif (now > tokenData.expires_at) {\n    delete refreshStore[token];\n    try { fs.writeFileSync(REFRESH_FILE, JSON.stringify(refreshStore)); } catch(e) { global.set('refresh_tokens', refreshStore); }\n    msg.payload = JSON.stringify({ code: 1, error: 'Refresh Token 已过期, 请重新登录' });\n    msg.statusCode = 401;\n    return msg;\n}\n\nvar accessToken = signAccessToken(tokenData.user_id, tokenData.username);\n\nmsg.payload = JSON.stringify({\n    access_token: accessToken,\n    refresh_token: token,\n    token_type: 'Bearer',\n    expires_in: ACCESS_TOKEN_TTL\n});\nmsg.statusCode = 200;\nreturn msg;",
    "outputs": 1,
    "wires": [
      [
        "f9_auth_refresh_out"
      ]
    ]
  },
  {
    "id": "f9_auth_refresh_out",
    "type": "http response",
    "z": "f9_auth_tab",
    "name": "刷新响应",
    "statusCode": "",
    "headers": {
      "Content-Type": "application/json"
    },
    "wires": []
  },
  {
    "id": "f9_auth_verify_in",
    "type": "http in",
    "z": "f9_auth_tab",
    "name": "验证接口",
    "url": "/api/v1/auth/verify",
    "method": "post",
    "swaggerDoc": "",
    "wires": [
      [
        "f9_auth_verify_proc"
      ]
    ]
  },
  {
    "id": "f9_auth_verify_proc",
    "type": "function",
    "z": "f9_auth_tab",
    "name": "验证处理(验签)",
    "func": "// ===== JWT 验证处理 =====\nvar crypto = global.get('crypto');\n\nvar JWT_SECRET = global.get('JWT_SECRET');\nif (!JWT_SECRET) {\n    msg.payload = JSON.stringify({ code: 1, error: '服务器密钥未配置' });\n    msg.statusCode = 500;\n    return msg;\n}\n\nfunction base64urlDecode(str) {\n    str = str.replace(/-/g, '+').replace(/_/g, '/');\n    while (str.length % 4) { str += '='; }\n    return str;\n}\n\nvar authHeader = msg.req.headers['authorization'] || '';\nvar token = '';\nif (authHeader.indexOf('Bearer ') === 0) {\n    token = authHeader.substring(7);\n}\n\nif (!token) {\n    msg.payload = JSON.stringify({ code: 1, error: '缺少 Access Token' });\n    msg.statusCode = 401;\n    return msg;\n}\n\nvar parts = token.split('.');\nif (parts.length !== 3) {\n    msg.payload = JSON.stringify({ code: 1, error: '令牌格式无效' });\n    msg.statusCode = 401;\n    return msg;\n}\n\nvar headerB64 = parts[0];\nvar payloadB64 = parts[1];\nvar signatureB64 = parts[2];\nvar data = headerB64 + '.' + payloadB64;\n\nvar expectedSig = crypto.createHmac('sha256', JWT_SECRET).update(data).digest();\nvar expectedSigB64 = expectedSig.toString('base64')\n    .replace(/\\+/g, '-').replace(/\\//g, '_').replace(/=+$/, '');\n\nif (expectedSigB64.length !== signatureB64.length) {\n    msg.payload = JSON.stringify({ code: 1, error: '令牌签名无效' });\n    msg.statusCode = 401;\n    return msg;\n}\nvar diff = 0;\nfor (var i = 0; i < expectedSigB64.length; i++) {\n    diff |= expectedSigB64.charCodeAt(i) ^ signatureB64.charCodeAt(i);\n}\nif (diff !== 0) {\n    msg.payload = JSON.stringify({ code: 1, error: '令牌签名无效' });\n    msg.statusCode = 401;\n    return msg;\n}\n\nvar payloadStr = Buffer.from(base64urlDecode(payloadB64), 'base64').toString();\nvar payload;\ntry {\n    payload = JSON.parse(payloadStr);\n} catch (e) {\n    msg.payload = JSON.stringify({ code: 1, error: '令牌负载解析失败' });\n    msg.statusCode = 401;\n    return msg;\n}\n\nvar now = Math.floor(Date.now() / 1000);\nif (payload.exp && now > payload.exp) {\n    msg.payload = JSON.stringify({ code: 1, error: '令牌已过期' });\n    msg.statusCode = 401;\n    return msg;\n}\n\nmsg.payload = JSON.stringify({\n    code: 0,\n    data: {\n        valid: true,\n        user_id: payload.user_id,\n        username: payload.username,\n        exp: payload.exp,\n        iat: payload.iat\n    },\n    message: '令牌有效'\n});\nmsg.statusCode = 200;\nreturn msg;",
    "outputs": 1,
    "wires": [
      [
        "f9_auth_verify_out"
      ]
    ]
  },
  {
    "id": "f9_auth_verify_out",
    "type": "http response",
    "z": "f9_auth_tab",
    "name": "验证响应",
    "statusCode": "",
    "headers": {
      "Content-Type": "application/json"
    },
    "wires": []
  },
  {
    "id": "f9_auth_catch",
    "type": "catch",
    "z": "f9_auth_tab",
    "name": "认证错误捕获",
    "scope": null,
    "uncaught": true,
    "wires": [
      [
        "f9_auth_err_format"
      ]
    ]
  },
  {
    "id": "f9_auth_err_format",
    "type": "function",
    "z": "f9_auth_tab",
    "name": "格式化错误响应",
    "func": "// 错误格式化: 捕获 Flow 执行异常, 返回统一错误响应\nvar errMsg = msg.error ? msg.error.message : '认证服务内部错误';\nmsg.payload = JSON.stringify({ code: 1, error: errMsg });\nmsg.statusCode = 500;\nreturn msg;",
    "outputs": 1,
    "wires": [
      [
        "f9_auth_err_out"
      ]
    ]
  },
  {
    "id": "f9_auth_err_out",
    "type": "http response",
    "z": "f9_auth_tab",
    "name": "错误响应",
    "statusCode": "",
    "headers": {
      "Content-Type": "application/json"
    },
    "wires": []
  }
]