nodered_backend/flows/auto_increment.json
[
  {
    "id": "flow2_auto_increment",
    "type": "tab",
    "label": "Flow2: 完成递增",
    "disabled": false,
    "info": "webhook接收训练完成 → 完成率计算 → 渐进超负荷规则 → 生成LOCKED提案 → 写入SQLite"
  },
  {
    "id": "f2_webhook",
    "type": "http in",
    "z": "flow2_auto_increment",
    "name": "接收训练完成",
    "url": "/api/v1/sessions/complete",
    "method": "post",
    "swaggerDoc": "",
    "wires": [["f2_parse_payload"]]
  },
  {
    "id": "f2_parse_payload",
    "type": "function",
    "z": "flow2_auto_increment",
    "name": "解析请求体",
    "func": "var payload = msg.payload || {};\nmsg.session_id = payload.session_id;\nmsg.entry_id = payload.entry_id;\nmsg.completion_ratio = payload.completion_ratio || 0;\nmsg.segments = payload.segments || [];\n\n// 从segments提取exercise信息\nvar exerciseSet = msg.segments.filter(function(s) { return s.seg_type === 'WORKOUT_SET'; });\nif (exerciseSet.length > 0) {\n  msg.exercise = {\n    exercise_id: exerciseSet[0].exercise_id,\n    planned_sets: exerciseSet.length,\n    planned_reps: exerciseSet[0].planned_reps,\n    planned_weight: exerciseSet[0].weight_kg_done,\n    max_weight: Math.max.apply(null, exerciseSet.map(function(s) { return s.weight_kg_done || 0; }))\n  };\n}\nreturn msg;",
    "wires": [["f2_switch_has_exercise"]]
  },
  {
    "id": "f2_switch_has_exercise",
    "type": "switch",
    "z": "flow2_auto_increment",
    "name": "是否有训练数据",
    "property": "exercise",
    "rules": [
      { "t": "nempty" },
      { "t": "else" }
    ],
    "wires": [["f2_progressive"], ["f2_response_skip"]]
  },
  {
    "id": "f2_progressive",
    "type": "function",
    "z": "flow2_auto_increment",
    "name": "渐进超负荷计算",
    "func": "// ===== 渐进超负荷算法 =====\nvar exercise = msg.exercise;\nvar segments = msg.segments;\nvar completionRatio = msg.completion_ratio;\n\n// 计算平均RPE\nvar rpeValues = segments.filter(function(s) { return s.rpe != null; }).map(function(s) { return s.rpe; });\nvar avgRpe = rpeValues.length > 0 ? rpeValues.reduce(function(a,b){return a+b;}) / rpeValues.length : 5;\n\nvar newWeight = exercise.planned_weight;\nvar reason = '';\n\nif (completionRatio >= 1.0 && avgRpe <= 8) {\n  newWeight = exercise.planned_weight + 2.5;\n  reason = '完成率100%，RPE ' + avgRpe.toFixed(1) + '，递增2.5kg → ' + newWeight + 'kg';\n} else if (completionRatio < 0.5) {\n  newWeight = Math.max(exercise.planned_weight - 2.5, 0);\n  reason = '完成率' + (completionRatio * 100).toFixed(0) + '%，退阶2.5kg → ' + newWeight + 'kg';\n} else {\n  reason = '完成率' + (completionRatio * 100).toFixed(0) + '%，维持' + exercise.planned_weight + 'kg';\n}\n\n// PR检测\nvar isPR = newWeight > (exercise.max_weight || 0);\n\n// 生成LOCKED提案\nvar proposal = {\n  type: 'PROPOSAL',\n  lock_state: 'LOCKED',\n  target_table: 'workout_exercise',\n  target_id: exercise.exercise_id,\n  target_field: 'planned_weight',\n  old_value: exercise.planned_weight,\n  new_value: newWeight,\n  reason: reason,\n  is_pr: isPR,\n  created_at: new Date().toISOString()\n};\n\nmsg.payload = {\n  newWeight: newWeight,\n  reason: reason,\n  isPR: isPR,\n  proposal: proposal\n};\nreturn msg;",
    "wires": [["f2_save_proposal", "f2_update_streak"]]
  },
  {
    "id": "f2_save_proposal",
    "type": "sqlite",
    "z": "flow2_auto_increment",
    "name": "保存提案到DB",
    "mode": "prepared",
    "sql": "INSERT INTO proposals (type, lock_state, target_table, target_id, target_field, old_value, new_value, reason, created_at) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)",
    "wires": [["f2_response_ok"]]
  },
  {
    "id": "f2_update_streak",
    "type": "sqlite",
    "z": "flow2_auto_increment",
    "name": "更新连续记录",
    "mode": "prepared",
    "sql": "UPDATE streaks SET current_count = current_count + 1, longest_count = CASE WHEN current_count + 1 > longest_count THEN current_count + 1 ELSE longest_count END, last_date = date('now') WHERE unit_id = (SELECT unit_id FROM schedule_entries WHERE entry_id = ?)",
    "wires": [[]]
  },
  {
    "id": "f2_response_ok",
    "type": "http response",
    "z": "flow2_auto_increment",
    "name": "返回成功",
    "statusCode": "200",
    "headers": { "Content-Type": "application/json" },
    "payload": "{\"code\": 0, \"data\": {\"status\": \"ok\"}, \"message\": \"session processed\"}"
  },
  {
    "id": "f2_response_skip",
    "type": "http response",
    "z": "flow2_auto_increment",
    "name": "跳过(无训练数据)",
    "statusCode": "200",
    "headers": { "Content-Type": "application/json" },
    "payload": "{\"code\": 0, \"data\": {\"status\": \"skipped\"}, \"message\": \"no exercise data\"}"
  }
]
